{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "shoggothchompexplosion"
    },

    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.wav", "/sfx/gun/grenadeblast2.wav", "/sfx/gun/grenadeblast3.wav" ]
    },

    {
      "action" : "explosion",
      "foregroundRadius" : 6,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 140,
      "delaySteps" : 2
    }

  ]
}
