{
  "seed" : {
    "projectileType" : "planet",
    "projectileParams" : {
      "speed" : 30,
      "power" : 95
    },

    "fireTime" : 1.0,
    "fireDt" : 100,
    "cooldown" : 0
  },

  "pollen" : {
    "projectileType" : "pollen",
    "projectileParams" : {
      "speed" : 5,
      "power" : 92
    },

    "fireTime" : 1.0,
    "fireDt" : 100,
    "cooldown" : 0
  }
}
