{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Workers", "Drones", "Warriors", "Larvae", "Sticky", "Sharp", "Encumbering", "Needle", "Spike", "Spine", "Quill", "Dart", "Stick", "Pop", "Pin", "Splinter", "Stinger", "Sting" ],
      [ { "mode" : "alts" }, "Stabber", " Sticker", " Shooter", " Propeller", " Popper", " Spinner", " Gun", " Cannon", " Machine", " Killer", " Stabber", " Skewer" ]
    ]
  ]
}
